<div class="sidebar">
	<span style="opacity: 0.5;">
		Pages
	</span>
	<hr>
	<div class="pages">
		<a class="active-page">
			<p>Figma</p>
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.75 9L7.5 12.75L15 5.25" stroke="white" stroke-width="1.125" stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>


		</a>
		<a href="https://customized-angular-windows-demo.vercel.app/" target="_blank">
			WindowsXP
		</a>
		<a>
			Cyberpunk
		</a>
	</div>
</div>